<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AD_UNIT_ID_FOR_BANNER_TEST</key>
    <string>ca-app-pub-3940256099942544/2934735716</string>
    <key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
    <string>ca-app-pub-3940256099942544/4411468910</string>
    <key>CLIENT_ID</key>
    <string>791212934923-7n6urt046ld6ka1i568g4ao34goruooa.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.791212934923-7n6urt046ld6ka1i568g4ao34goruooa</string>
    <key>API_KEY</key>
    <string>AIzaSyCd_vB5YhQ2M94v2vDt5lfjBm74WaKPSpM</string>
    <key>GCM_SENDER_ID</key>
    <string>791212934923</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>org.actinium.acmcopay</string>
    <key>PROJECT_ID</key>
    <string>actinium-copay</string>
    <key>STORAGE_BUCKET</key>
    <string>actinium-copay.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <true></true>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:791212934923:ios:37dace0ab43d085a</string>
    <key>DATABASE_URL</key>
    <string>https://actinium-copay.firebaseio.com</string>
  </dict>
</plist>